/*about me*/
.basic{
	padding:20px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height:500px;
	margin-bottom: 200px;
	font-size: 15px;
	letter-spacing: 3px;
	line-height:30px;
	text-align: center;
}
.data{
	color: #88789A;
	padding: 20px;
	text-align: justify;
	margin-left:30px;
	width:60%;
	float: left;
}
.data p{
	z-index: 1;
	text-indent: 50px;
}
.data h2{
	text-align: center;
	font-size: 30px;
	background-color: #88789A;
	border-radius: 10px;
	color:white;
	padding:10px;
	margin-top: 0;
}
.data a{
	color:#4B3069;
	font-weight: bold;
}
.data a:hover{
	color: #90CAE6;
}
.basic .image {
	width: 20%;
	float: left;
	overflow: hidden;
	border-top-left-radius: 20px;
}
.basic .image img {
	width: 100%;
	height: auto;
	filter: brightness(0.7);
	object-fit: cover;
	transition: filter 0.3s;
}
.basic .image:hover img {
	filter: brightness(1);
}
  
.basic .loader {
	position: absolute;
	bottom: 10%;
  	left: 10%;
  	transform: translateX(-50%);
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-color: #88789A;
	width: 200px;
	height: 200px;
	z-index: -999;
	transition: bottom 3s ease;
}