@media screen and (max-width:1100px) {
    .nav-right{
        margin-right:0px;
        margin-top: 8px;
    }
    .nav-right a{
        font-size: 15px;
    }
    .navbar-home a{
        left:10%;
        font-size: 30px;
    }
    .bg{
        overflow: hidden;
    }
    #top{
        width:60px;
	    height: 60px;
        font-size: 10px;
        overflow: hidden;
    }
    
    /*about me*/
    .basic {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 100px;
    }
    
    .data {
        width: 100%;
        margin-left: 0;
        margin-top: -15%;
        padding-top: 0;
    }
    .data h2{
        width: 100%;
    }

    .basic .image {
        float: none;
        width: 70%;
    }
    .basic .image img{
        max-width: 70%;
        clip-path: circle(40% at 50% 35%);
        
    }
    .basic .loader {
        display:none;
    }

    /*skill*/
    .skill{
        margin-top: -30%;
    }

    /*experience*/
    .experience{
        margin-bottom: 100px;
    }
    
    .job-title , .job-content h4{
        font-size: 15px;
    }
    .job-content p{
        font-size: 13px;
    }
    
}
@media screen and (max-width:768px) {
    .navbar{
        overflow: hidden;
    }
    .nav-right a{
        display: none;
    }
    .navbar-home{
        left:50%;
    }

    #aboutme a{
        font-size: 35px;
    }
    .data h2{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    /*skill*/
    .skill{
        margin-top: -40%;
    }

    /*experience*/
    .experience{
        margin-bottom: 200px;
    }
    .job-title , .job-content h4{
        font-size: 16px;
        text-align: center;
        margin:0 auto;
    }
    .job-title h4{
        width:100%;
        font-size: 15px;
    }
    .job-content{
        margin:0 auto;
        width: 90%;
    }
    .job-content h6{
        margin-top: 5px;
        text-align: center;
    }
    .job-content p{
        font-size: 13px;
    }
    .job1,.job2,.job3{
        display:block;
        margin:0 auto;
        margin-bottom: 40px;
        width:90%;
        text-align: center;
    }
    .timebox:hover{
        .job1 , .job2 ,.job3{
            transform: translateX(0%) scale(1.05);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
            transition: transform 2s, box-shadow 2s;
        }
    }

     /*work*/
     .work{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
     .project{
        width: 75%;
     }
     .projects h3{
        font-size:35px;
     }

     /*contact*/
     .circle{
        height:100px;
        width:100px;
     }
     .phone span{
        display:none!important;
    }
    .circle svg{
        display: block!important;
    }
}
@media screen and (max-width:479px){
    .experience h3{
        font-size:25px;
    }
    .job-title , .job-content h4{
        font-size: 10px;
    }
    .job-content p{
        font-size: 8px;
    }

    .projects h3{
        font-size:25px;
    }
    .projects{
        margin-top: 200px;
    }
}